<div class="container">
    <div class="content">
        <div class="heading">
            <h1>Itens cadastrados</h1>
            <p>Acompanhe abaixo os itens cadastrados no site.</p>
        </div>
        <br>
        <app-table *ngIf="data != undefined" [data]="data" (editAction)="edit($event)" (deleteAction)="remove($event)"></app-table>
        <br>
        <hr>
        <p *ngIf="data == undefined || data.length == 0">Nenhum item cadastrado ainda! <a href="/formulario" routerLink="/formulario">Cadastre um novo item agora!</a></p>
    </div>
</div>
