//Propriedade usada no background de todos as páginas.
$page-background: rgb(245,245,253);

//Propriedade usada no background de todos os painéis.
$panel-background: rgb(236, 236, 246);

//Cor dos ícones
$icons-normal: rgb(61, 63, 80);
$icons-hover: rgb(235, 235, 235);

//Cor dos textos
$text: rgb(2, 2, 2);
$text-warning: rgb(234, 1, 27);

//sombra de paineis simples.
$shadow-props:0 0 10px 0 rgba(96,96,96,0.28);
