@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Nunito&display=swap');
@import './props.scss';


//------Definições de estrutura de elementos

*{
    box-sizing: border-box;
    margin: 0!important;
}


h1, h2, h3, p{
    line-height: 1;
    color: $text;
    text-shadow: none!important;
}

//--------------------------------------;


//Definição das fontes usadas nos componentes da aplicação.
h1, h2, h3{
    font-family: "Noto Sans", sans-serif;
}

p{
    font-family: "Nunito", sans-serif;
}

body{
    background-color: $page-background!important;
}

//classe deve ser usada nos paineis;
.app-panel{
    background-color: $panel-background!important;
}

//classe deve ser usada para sombra padrão;
.app-shadow{
    box-shadow: $shadow-props!important;
}